@import "tailwindcss";


@font-face {
  font-family: 'Noto Sans IPA';
  src: url('/fonts/NotoSansIPA-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark; 
}
body {
  background-color: var(--bg-color, #fff);
  color: var(--text-color, #111827);
}

.dark {
  --bg-color: #111827;
  --text-color: #f3f4f6;
  --accent-color: #60a5fa;
}

.keyboard-open {
  padding-bottom: 300px; 
}

.gooey {
  filter: url("#gooey");
}

@keyframes star-movement-bottom {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0.2;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0.2;
  }
}

.star-move-bottom {
  animation: star-movement-bottom 5s linear infinite alternate;
}

.star-move-top {
  animation: star-movement-top 5s linear infinite alternate;
}